@import "../../styles/breakpoint";
.Input {
  margin-bottom: 0.5em;
  font-size: 1rem;
  outline: none;
  font-family: "Barlow", sans-serif;
  label {
    font-size: 1em;
    display: block;
    margin-bottom: 0.9em;
    @include md {
      margin-bottom: 0.67em;
    }
  }
  input {
    height: 2.5em;
    padding: 0.25em 0.6em;
    border-radius: 5px;
    border: 1px solid var(--light-grey);
    font-size: 0.85em;
    box-sizing: border-box;
    width: 100%;
    font-family: inherit;
    letter-spacing: 1px;
    background-color: var(--white);
    color: var(--text-color);
    font-size: 1em;
    &:active,
    &:focus {
      border-color: var(--text-color);
      outline: none;
    }
  }
  &Field {
    [class="error"] {
      border-color: var(--danger);
    }
  }
  span {
    color: var(--danger);
    font-size: 0.65em;
  }
}
::placeholder,
::-webkit-input-placeholder {
  color: #b9bcc9;
  font-size: 0.9em;
}
