@import "../../styles/breakpoint";
.Layout {
  background: var(--white);
  font-size: 1rem;
  &Header {
    display: flex;
    align-items: center;
    background: var(--white);

    border-bottom: 1px solid var( --light-grey);
    justify-content: space-between;
    color: var(--text-color);
    padding: 1em;
    @include md {
      padding: 1em 3em;
    }
    & > svg {
      width: 2em;
      height: 2.25em;
    }
  }
  &Body {
    padding: 2em 1em;
    @include md {
      padding: 2em 3em;
    }
  }
}
