.Modal {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.75);
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  &[data-show="true"] {
    animation: fadeIn ease 0.9s;
  }
  &Content {
    background-color: var(--white);
    height: 24rem;
    width: 26rem;
    border-radius: 5px;

    %dflex {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .header {
      @extend %dflex;
      border-bottom: 1px solid var(--light-grey);
      h3 {
        margin: 0;
      }
    }
    .body,
    .header {
      padding: 1rem;
    }
    .body {
      &Content {
        min-height: 15rem;
      }
    }
    .body{
      height: 16rem;
    }
    .footer {
      border-top: 1px solid var(--light-grey);
      height: 4rem;
      padding: 0 1rem;
      @extend %dflex;
      & > button {
        width: 7.5rem;
        font-size: 0.8rem;
      }
    }
  }
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}
