@import "../../styles/breakpoint";
.Modal {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.9);
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  &[data-show="true"] {
    animation: fadeIn ease 0.5s;
  }
  &Content {
    background-color: var(--white);
    height: 18.5em;
    width: 100%;
    margin: 0 1em;
    border-radius: 5px;
    color: var(--text-color);
    @include md{
      margin: 0;
      width: 23em;
    }
    %dflex {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .header {
      @extend %dflex;
      border-bottom: 1px solid var(--light-grey);
      h3 {
        margin: 0;
      }
    }
    .body,
    .header {
      padding: 1em;
    }
   
    .body{
      height: 11em;
    }
    .footer {
      &[data-footer="false"],[data-footer="false"] {
        display: none;
      }
      border-top: 1px solid var(--light-grey);
      height: 4em;
      padding: 0 1em;
      @extend %dflex;
      & > button {
        width: 7.5em;
        font-size: .9em;
      }
    }
  }
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}
