@import "../../styles/breakpoint";
.Table {
  border-collapse: collapse;
  border-spacing: 0;
  border: 1px solid var(--light-grey);
  width: 100%;
  display: none;

  @include md {
    display: table;
    border-radius: 5px;
  }
  tbody {
    tr {
      color:var(--text-color);
      &:nth-of-type(odd) {
        border-top: 1px solid var(--light-grey);
        border-bottom: 1px solid var(--light-grey);
      }
      &:hover {
        background: var(--light-grey-2);
        cursor: pointer;
      }
      td {
        font-size: 1rem;
        padding: 1rem 0.75rem;
        color: var(--grey);
      }
    }
  }
  thead {
    tr {
      background: var(--light-purple);
      color:var(--text-color);
      th {
        padding: 1rem 0.75rem;
        text-align: left;
        vertical-align: bottom;
        font-size: 0.75rem;
        font-weight: normal;
        text-transform: uppercase;
        font-size: 1.05rem;
      }
    }
  }
}
